*{
    font-family: 'Unbounded', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}

/* HEADER */

header{
    display: flex;
    background-color: #282A3A;
    justify-content: flex-end;
    
}

.nav .button{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px 5px;
    background: #282A3A;
    color: #FFE15D;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50px;
    /* box-shadow: 0px 10px 10px rgba(0,0,0,0.1); */
    transition: all .3s ease-out;
}

.nav .button:hover{
    width: 180px;
    background-color: #282A3A;
    color: #FFE15D;
}

.nav .button .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 60px;
}

.nav .button .icon i{
    font-size: 24px;
    line-height: 60px;
}

.nav .button span{
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    margin-left: 10px;
}

/* FIN HEADER */

.flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background:#eeeeee;
    height: 100vh;
} 


.btn{
    padding: 8px;
    margin: 12px;
    border-radius: 20px;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: #FFE15D;
    width: 150px;
    height: 80px;
    transition: all .5s;
}

.btn:hover{
    background: #282A3A;
    color:#FFE15D;
    font-style: italic;
}