*{
    font-family: 'Unbounded', cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
    background:#FCFFE7;
}

/* HEADER */

header{
    display: flex;
    background-color: #282A3A;
    justify-content: flex-end;
    
}

.nav .button{
    display: inline-block;
    width: 60px;
    height: 60px;
    margin: 5px 5px;
    background: #282A3A;
    color: #FFE15D;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    border-radius: 50px;
    transition: all .3s ease-out;
}

.nav .button:hover{
    width: 180px;
    background-color: #282A3A;
    color: #FFE15D;
}

.nav .button .icon{
    display: inline-block;
    width: 60px;
    height: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    font-size: 12px;
    line-height: 60px;
}
.nav .button .icon a{
    color: #FFE15D;
}
.nav .button .icon i{
    font-size: 24px;
    line-height: 60px;
}

.nav .button span{
    font-size: 16px;
    font-weight: 300;
    line-height: 60px;
    margin-left: 10px;
}

/* FIN HEADER */

.flex-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
} 

.btn{
    display: inline-block;
    padding: 8px;
    margin: 12px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    background: #FFE15D;
    color: #282A3A;
    text-decoration: none;
    width: 140px;
    height: 60px;
    transition: all .5s;
}

.btn a, .btn a:visited{
    text-decoration: none;
    color: #282A3A;
}

.btn:hover, .btn a:hover{
    background: #282A3A;
    color:#FFE15D;
    font-style: italic;
}

.btn:hover, .btn a:visited:hover{
    background: #282A3A;
    color:#FFE15D;
    font-style: italic;
}

/*STOCK*/

.form{
    margin-top: 12px;
}

.stock{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 58%;
}

.stock_contenido{
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.stock_contenido h1{
    text-align: center;
}

.form_stock_Item{
    margin: 4px;
    padding: 8px;
}

.form_stock_Item_btn{
    text-align: center;
}

.form_stock_Item input{
    width: 100%;
}
/*Lista productos*/

.lista_prod{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid #717174;
    box-sizing: border-box;
    margin-top: 3px;
}

.lista_btn{
    align-self: flex-end;
    justify-self: flex-end;
}
.btn_lista{
    justify-self: flex-end;
}


.tablaProd{
    border-collapse:collapse; 
    margin: 25px 0; 
    border: solid 1px #282A3A;
    padding: 4px;
    text-align: center;
    background-color: FAF9EA;
    min-width: 450px;
}

.tablaProd th{
    padding: 12px 4px;
    text-align: center;
    min-width: 100px;
    font-size: large;
}

.newRow{
    padding: 4px;
    text-align: center;
    font-size: smaller;
    border-color: #282A3A;
}